* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-body {
    --margin: 30px;
    background: url(../image/PR2.jpg) scroll no-repeat left, url(../image/PR4.jpg) scroll no-repeat right;
    background-size: 50%;
    margin: var(--margin);
    padding: 0;
    width: auto;
    position: relative;
    height: calc(100vh - var(--margin)*2);
    overflow: hidden;
    border-radius: 15px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: min-content;
}

#logo {
    width: 10vw;
}

.container1 {
    width: 50vw;
    height: calc(16vh + 20vw);
    position: relative;
    margin: auto;
    border-radius: 12px;
    display: flex;
    box-shadow: 0 14px 28px rgb(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.20);
    transform: translateY(10vh);
}

#signup,
#signin {
    height: 100%;
    width: 50%;
    position: absolute;
    border-radius: 12px;
    background-color: transparent;
    transition: 0.8s ease-in-out;
}

#signup {
    visibility: hidden;
}

.signin,
.signup {
    transform: translateX(100%);
}

.signin {
    visibility: hidden;
}

.signup {
    visibility: visible !important;
}

#si1 {
    visibility: hidden;
}

.signin1,
.signup1 {
    transform: translateX(-100%);
}

.signup1 {
    visibility: hidden;
}

.signin1 {
    visibility: visible !important;
}

#si1,
#su1 {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50%;
    background-color: white;
    transition: 0.8s ease-in-out;
}

#su1 {
    background: linear-gradient(to left, rgba(255, 85, 85, 0.699), rgb(255, 154, 86)) no-repeat 0 0 /cover;
    opacity: 0.9;
}

#si1 {
    background: linear-gradient(to right, rgb(0, 110, 255), rgb(16, 255, 235));
    opacity: 0.7;
}

#si1 p,
#su1 p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 2vh;
    font-weight: bolder;
    padding: 20px 15%;
    border-radius: 50px;
    border: 5px solid white;
    color: white;
}

.header1 h3 {
    color: #ff5e5e;
    font-size: 4vh;
    font-weight: bold;
    margin: 10% 0 20% 0;
    text-align: center;
}

.header2 h3 {
    color: #4696ff;
    font-size: 4vh;
    font-weight: bold;
    margin: 10% 0 20% 0;
    text-align: center;
}

.inputs {
    height: 40%;
}

.inputs label {
    color: gray;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}

input::input-placeholder {
    color: white;
}

.inputs input[type=text],
input[type=password] {
    background: rgb(245, 245, 245);
    font-size: 0.8rem;
    border-radius: 3px;
    border: none;
    padding: 2%;
    width: 80%;
    margin: 5% auto;
    box-shadow: inset 0px 2px 3px rgba( 0, 0, 0, 0.1);
    clear: both;
    display: flex
}

.inputs input[type=text]:focus,
input[type=password]:focus {
    box-shadow: 0px 0px 3px rgb(176, 213, 248), inset 0px 2px 3px rgba( 0, 0, 0, 0.2), 0px 5px 5px rgba( 0, 0, 0, 0.15);
    outline: none;
}

.inputs .checkboxy {
    display: flex;
    position: static;
    height: 25px;
    margin-top: 5%;
    clear: both;
}

.inputs input[type=checkbox] {
    margin: 0 2% 0 10%;
    margin-top: 5px;
}

.inputs label.terms {
    font-size: 14px;
    font-style: italic;
}

.contain-button {
    display: flex;
    justify-content: center;
}

.submit-1 {
    background-color: rgba(255, 93, 93, 0.829);
    padding: 15px 30px;
    border-radius: 15px 5px;
    text-decoration: none;
    color: white;
}

.submit-2 {
    background-color: rgb(49, 114, 255);
    padding: 15px 30px;
    border-radius: 15px 5px;
    text-decoration: none;
    color: white;
}

.submit-1:hover,
.submit-2:hover {
    background: gray;
}